name: Build React App

on:
  push:
    branches:
      - master # Change to the main branch or your default branch

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run My Custom Action
        uses: ./src/dict/

      - name: Run tests
        run: npm test
        
  build:
    permissions: write-all
    runs-on: ubuntu-latest 
    needs: test

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Configure Vite
      run: | 
        echo 'export default { build: { outDir: "build" } };' > vite.config.js

    - name: Build React App
      run: npm run build

    - name: Delete Old Artifacts
      uses: actions/github-script@v6
      id: artifact
      with:
        script: |
          const res = await github.rest.actions.listArtifactsForRepo({
            owner: context.repo.owner,
            repo: context.repo.repo,
          })

          res.data.artifacts
            .forEach(({ id }) => {
              github.rest.actions.deleteArtifact({
                owner: context.repo.owner,
                repo: context.repo.repo,
                artifact_id: id,
              })
            })

    - name: Create Artifact
      uses: actions/upload-artifact@v2
      with:
        name: build-artifact
        path: build
    
    - name: Download Artifact
      uses: actions/download-artifact@v2
      with:
        name: build-artifact
        path: artifacts
