name: Build React App

on:
  push:
    branches:
      - master 

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    environment: 
      name: development_environment

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

  display:
    name: Display env variable
    runs-on: ubuntu-latest
    env:
      PORT: 7000
      platform: AWS
      key: ${{secrets.key}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Display env variable
        run: |
          echo "The platform is ${{env.platform}}"
          echo "The port is $PORT"
          echo "Secret key $key"
        
  build:
    permissions: write-all
    runs-on: ubuntu-latest 
    needs: test
    environment: 
      name: development_environment

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Configure Vite
      run: | 
        echo 'export default { build: { outDir: "build" } };' > vite.config.js

    - name: Build React App
      run: npm run build

    - name: Delete Old Artifacts
      uses: actions/github-script@v6
      id: artifact
      with:
        script: |
          const res = await github.rest.actions.listArtifactsForRepo({
            owner: context.repo.owner,
            repo: context.repo.repo,
          })

          res.data.artifacts
            .forEach(({ id }) => {
              github.rest.actions.deleteArtifact({
                owner: context.repo.owner,
                repo: context.repo.repo,
                artifact_id: id,
              })
            })

    - name: Create Artifact
      uses: actions/upload-artifact@v2
      with:
        name: build-artifact
        path: build
    
    - name: Download Artifact
      uses: actions/download-artifact@v2
      with:
        name: build-artifact
        path: artifacts
  
  docker_build:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/clockbox:latest